.page {
   font-family: 'Inter', Arial, sans-serif;
   background-color: #000000;
   margin: 0;
}

.header {
   margin: 0 auto 40px;
   padding-top: 45px;
   max-width: 880px;
   min-width: 320px;
   min-height: 74px;
   border-bottom: 1px solid #545454;
}

.header__logo {
   background-image: url(./images/logo.svg);
   height: 33px;
   width: 142px;
   background-size: cover;
}



.profile {
   margin: 0 auto 51px;
   max-width: 880px;
   min-width: 320px;
   min-height: 120 px;
   display: flex;
   align-items: center;
   color: white;
   display: flex;
   align-items: center;
}

.profile__avatar {
   border-radius: 50%;
   height: 120px;
   width: 120px;
   margin-right: 30px;
}

.profile__info {
   display: grid;
   grid-template-columns: 1fr 24px;
   gap: 18px;
   align-items: center;
}

.profile__name {
   margin: 0;
   font-size: 42px;
   line-height: 48px;
   font-weight: 500;
   font-style: normal;
}

.profile__description {
   margin: 0;
   font-size: 18px;
   line-height: 22px;
   font-weight: normal;
   font-style: normal;
}

.profile__edit-button {
   width: 24px;
   height: 24px;
   background-color: black;
   border: 1px solid white;
   background-image: url(./images/edit-button.png);
   background-position: center;
   background-repeat: no-repeat;
}

.profile__add-button {
   width: 150px;
   height: 50px;
   background-color: black;
   border: 2px solid white;
   background-image: url(./images/add-button.png);
   background-position: center;
   background-repeat: no-repeat;
   margin-left: auto;
   justify-self: end;
}

.content {
   margin: 0 auto;
   max-width: 880px;
   min-width: 320px;
}

.elements {
   margin: 0 auto 67px;
   display: grid;
   grid-template-columns: repeat(auto-fit, 282px);
   grid-column-gap: 17px;
   grid-row-gap: 20px;
   justify-content: center;
}

.element {
   background-color: white;
   border-radius: 10px;
   overflow: hidden;
}

.element__image {
   max-width: 282px;
}

.element__description {
   display: flex;
   flex-direction: row;
   min-height: 79px;
   align-items: center;
}

.element__title {
   margin: 0;
   margin-left: 21px;
   font-style: normal;
   font-weight: 900;
   font-size: 24px;
   line-height: 29px;

   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}

.element__like-button {
   padding: 0 15px;
   background-color: white;
   width: 22px;
   height: 19px;
   background-position: center;
   background-repeat: no-repeat;
   border: none;

   margin-left: auto;
   margin-right: 30px;
   justify-self: flex-end;
}

.element__like-button_disabled {
   background-image: url(./images/like_disabled.svg);
}

.element__like-button_active {
   background-image: url(./images/like_active.png);
}