.page {
   font-family: 'Inter', Arial, sans-serif;
   background-color: #000000;
   margin: 0;
}

.header {
   margin: 0 auto 40px;
   padding-top: 45px;
   max-width: 880px;
   min-width: 320px;
   min-height: 74px;
   border-bottom: 1px solid #545454;
}

.header__logo {
   background-image: url(./images/logo.svg);
   height: 33px;
   width: 142px;
   background-size: cover;
}



.profile {
   margin: 0 auto 51px;
   max-width: 880px;
   min-width: 320px;
   min-height: 120 px;
   display: flex;
   align-items: center;
   color: white;
   display: flex;
   align-items: center;
}

.profile__avatar {
   border-radius: 50%;
   height: 120px;
   width: 120px;
   margin-right: 30px;
}

.profile__info {
   display: grid;
   grid-template-columns: 1fr 24px;
   gap: 18px;
   align-items: center;
}

.profile__name {
   margin: 0;
   font-size: 42px;
   line-height: 48px;
   font-weight: 500;
   font-style: normal;
}

.profile__description {
   margin: 0;
   font-size: 18px;
   line-height: 22px;
   font-weight: normal;
   font-style: normal;
}

.button {
   background-color: transparent;
   background-position: center;
   background-repeat: no-repeat;
   transition: opacity 0.4s ease;

}

.button:hover {
   opacity: .6;
}

.profile__edit-button {
   width: 24px;
   height: 24px;
   background-color: black;
   border: 1px solid white;
   background-image: url(./images/edit-button.png);
}

.profile__add-button {
   width: 150px;
   height: 50px;
   background-color: black;
   border: 2px solid white;
   background-image: url(./images/add-button.png);
   margin-left: auto;
   justify-self: end;
}

.content {
   margin: 0 auto;
   max-width: 880px;
   min-width: 320px;
}

.elements {
   margin: 0 auto 67px;
   display: grid;
   grid-template-columns: repeat(auto-fit, 282px);
   grid-column-gap: 17px;
   grid-row-gap: 20px;
   justify-content: center;
}

.element {
   background-color: white;
   border-radius: 10px;
   overflow: hidden;
}

.element__image {
   max-width: 282px;
}

.element__description {
   display: flex;
   flex-direction: row;
   min-height: 79px;
   align-items: center;
}

.element__title {
   margin: 0;
   margin-left: 21px;
   font-style: normal;
   font-weight: 900;
   font-size: 24px;
   line-height: 29px;

   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}

.element__like-button {
   padding: 0 15px;
   width: 22px;
   height: 19px;
   border: none;
   margin-left: auto;
   margin-right: 30px;
   justify-self: flex-end;
}

.element__like-button:hover {
   opacity: 0.5;
}

.element__like-button_disabled {
   background-image: url(./images/like_disabled.svg);
}

.element__like-button_active {
   background-image: url(./images/like_active.png);
}

.footer {
   margin: 0 auto;
   padding-bottom: 60px;
   max-width: 880px;
}

.footer__copyright {
   margin: 0;
   color: #545454;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
}

.popup {
   font-family: 'Inter', Arial, sans-serif;
   background-color: rgba(0, 0, 0, 0.5);
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: 2;
   display: none;
   /* display: flex; */
}

.popup__container {
   width: 430px;
   height: 330px;
   background-color: white;
   border-radius: 10px;
   justify-self: center;
   align-self: center;
   margin: 0 auto;
}

.popup__title {
   margin: 34px auto 41px;
   text-align: center;
   font-style: normal;
   font-weight: 900;
   font-size: 24px;
   line-height: 29px;
}

.popup__form {
   display: flex;
   flex-direction: column;
   max-width: 358px;
   margin: 0 auto;
}

.popup__input {
   border: none;
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
   outline-style: none;
   padding-bottom: 13px;

}

.popup__input:first-of-type {
   margin-bottom: 30px;
}


.popup__input_el_name {}

.popup__input_el_description {}

.popup__save-button {
   width: 358px;
   height: 50px;
   border: none;
   background-color: black;
   color: white;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   text-align: center;
   margin-top: 48px;
}

.popup__save-button:hover {
   opacity: 0.8;
}

.popup__close-button {
   width: 32px;
   height: 32px;
   border: none;
   background-image: url(./images/close-icon.svg);
   position: relative;
   bottom: 340px;
   left: 440px;
}