.profile {
   margin: 0 auto 51px;
   max-width: 880px;
   min-width: 320px;
   min-height: 120 px;
   display: flex;
   align-items: center;
   color: white;
   display: flex;
   align-items: center;
}

@media screen and (max-width: 767px) {
   .profile {
      flex-direction: column;
   }
}