.popup__close-button {
   width: 32px;
   height: 32px;
   border: none;
   background-size: cover;
   background-image: url(../../../images/close-icon.svg);
   position: relative;
   bottom: 340px;
   left: 440px;
}

@media screen and (max-width: 767px) {
   .popup__close-button {
      width: 20px;
      height: 20px;
      bottom: 320px;
      left: 260px;
   }
}